.title-bar {
  background: rgb(32, 35, 42);
  h1 {
    font-weight: 300;
    font-size: 2.5rem;
    color: rgb(97, 218, 251)
  }
}

.title-bar__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(70, 161, 184)
}